* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/************** general rules for containers **************/
body { /* per centrare il container */
    padding-top: calc(5vh / 2);
    position: relative;
}

.riga-verde{
    height: 15vh;
    width: 100vw;
    background-color: #009988;
    position: absolute;
    z-index: 1;
    top: 0;
}

.riga-grigia{
    height: 85vh;
    width: 100vw;
    background-color: #d4dbd8;
    position: absolute;
    z-index: 1;
    top: 15vh;
}

.container{
    height: 95vh;
    width: 80vw;
    position: relative;
    z-index: 2;
    background-color: white;
    margin: auto;
    display: flex;
}

.container-sx{
    width: 35%;
    background-color: lightcoral; /*da cambiare*/
}

.container-dx{
    width: 65%;
    background-color: lightgreen; /*da cambiare*/
}

.icon-circle{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 4px auto auto auto;
}

/************* general rules for container-sx *************/
.container-sx .row{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.container-sx .row .row-sx{
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.container-sx .row .row-cn{
    width: calc(100% - 150px);
    height: 100%;
    padding-left: 6px;
}

.container-sx .row .row-dx{
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

/************particular rules for container-sx ***********/
    /* row colore-grigio */
.container-sx .row.colore-grigio .row-cn{
    line-height: 50px;
}

.container-sx .row.colore-grigio .row-dx i {
    padding: 0 5px;
    color: #b1b1b1;
}

.container-sx .row.colore-grigio{
    background-color: #eaeaea;
}

    /* row colore-celeste */
.container-sx .row.colore-celeste{
    background-color: #76dcff;
}

.container-sx .row.colore-celeste .row-sx i {
    font-size: 30px;
    color: #76dcff;
    border-radius: 45%;
    background-color: white;
    margin-top: 10px;
}

#notifica{
    text-decoration: underline;
    color: #447587;
}

.container-sx .row.colore-celeste .row-cn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /* row searchbar */
.container-sx .row.searchbar{
    line-height: 50px;
    background-color: #eaeaea
}

.container-sx .row.searchbar .row-cn {
    width: calc(100% - 50px);
}

.container-sx .row.searchbar .row-cn input {
    width: 98%;
    height: 80%;
    padding-left: 4px;
}

.container-sx .row.searchbar .row-sx i {
    padding: 0 5px;
    font-size: 25px;
    color: #b5b9bb;
}

    /* conversazioni row contatti */
.container-sx .conversazioni {
    overflow-y: auto;
    height: calc(100% - 150px);
    background-color: #ffffff;
}

.sezione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 10px;
    width: 100%;
}
    
.container-sx .conversazioni .contatti{
    display: flex;
    align-items: center;
    max-width: 70%;
}
    
.row-sx-immagine {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.conversazioni .row-sx-immagine {
    background-size: 50px auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.text-config{
    color: #b5b9bb;
    font-size: 10px;
}

.conversazioni .sezione span {
    font-size: 16px;
    color: #b5b9bb;
    text-align: right;
}

/************general rules for container-dx ***********/
.container-dx .row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.container-dx .row .row-sx{
    width: 50px;
    height: 100%;
    line-height: 50px;
    border-left: 1px solid white;
} 

.container-dx .row .row-cn{
    width: calc(100% - 150px);
    height: 100%;
    padding-left: 6px;
}

.container-dx .row .row-dx{
    width: 100px;
    height: 100%;
    line-height: 50px;
}

.container-dx .row .row-dx i{
    padding: 0 5px;
    color: #b1b1b1;
}

/************particular rules for container-dx ***********/
    /* row information-chat */
.container-dx .row.information-chat{
    background-color: #eaeaea;
}

.container-dx .information-chat .contatti-information{
    display: flex;
    align-items: center;
}

.information-chat .contatti-information .row-dx-information {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 50px auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

    /* contenitore-messagio */
.contenitore-messaggio{
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
    padding: 40px 60px;
    /* background-color: red; */
    background-image: url(../img/mine.jpg);
}

.contenitore-messaggio .utente{
    display: flex;
    flex-direction: column;
    /* align-content: flex-end; */
    max-width: 50%;
    padding: 8px;
    border-radius: 8px;
    position: relative;
    float: right;
    clear: both;
    background-color: #cbfbb3;
    margin-bottom: 8px;
}

.contenitore-messaggio .amico{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 8px;
    border-radius: 8px;
    /* align-content: flex-start; */
    position: relative;
    float: left;
    clear: both;
    background-color: #ffffff;
    margin-bottom: 8px;
}

.contenitore-messaggio .stato-messaggio{
    align-self: flex-end;
    font-size: 10px;
    color: #b5b9bb;
}

    /* row insert-message */
.container-dx .row.insert-message{
    background-color: #f4eeea;
}

.container-dx .row.insert-message .row-sx i{
    padding: 0 5px;
    font-size: 30px;
    margin: 10px;
    color: #697376;
}

.container-dx .row.insert-message .row-cn input {
    width: 98%;
    height: 80%;
    padding-left: 4px;
    margin-top: 6px;
    color: #697376;
}

.container-dx .row.insert-message .row-dx{
    text-align: center;
}

.container-dx .row.insert-message .row-dx i{
    padding: 0 5px;
    font-size: 30px;
    margin: 10px;
}
