<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolzapp</title>
</head>
<body>

    <div id="root">

            <!-- due righe -->
        <div class="riga-verde"></div>
        <div class="riga-grigia"></div>

        <!-- container generale -->
        <div class="container">
            
            <!-- container sx -->
            <div class="container-sx">

                <!-- parte user generale -->
                <div class="row colore-grigio">
                    <div class="row-sx">
                        <img src="img/avatar_io.jpg" alt="avatario" class="icon-circle">
                    </div>
                    <div class="row-cn">
                        <strong>Adriana</strong>
                    </div>
                    <div class="row-dx">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!-- parte vuoi ricevere le notifiche -->
                <div class="row colore-celeste">
                    <div class="row-sx">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="row-cn">
                        <strong>Ricevi notifiche di nuovi messaggi</strong>
                        <br><p id="notifica">Attiva notifiche desktop</p>
                    </div>
                </div>

                <!-- parte search contatti -->
                <div class="row searchbar">
                    <div class="row-sx">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="row-cn">
                        <input type="search" name="" id="" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>

                <!-- parte contatti attivi-->
                <div class="conversazioni">
                    <div class="sezione" v-for="(contatti, i) in contatti" v-if="contatti.visible" :class="indice == i ? 'active' : 'null'" @click='conversazione(i)'>
                        <div class="contatti">
                            <div class="row-sx-immagine" :style="{ 'background-image': 'url(' + contatti.avatar  + ')' }"></div>
                            <div>
                                <strong>{{contatti.name}}</strong>
                                <p class="text-config">{{ contatti.messages[contatti.messages.length - 1].message }}</p>
                            </div>
                        </div>
                        <div>
                            <span>{{contatti.messages[contatti.messages.length - 1].date}}   {{contatti.messages[contatti.messages.length - 1].time}}</span>
                        </div>
                    </div> 
                </div>

            </div>

            <!-- container dx -->
            <div class="container-dx">

                <!-- parte informazione chat visualizzata -->
                <!-- modifica -->
                <div class="row information-chat">
                    <div class="contatti-information">
                        <div class="row-dx-information" :style="{ 'background-image': 'url(' + contatti[indice].avatar  + ')' }"> </div>
                        <div>
                            <strong>{{contatti[indice].name}}</strong>
                            <p>Online</p>
                        </div>
                    </div>
    
                    <div class="row-dx">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- fine modifica -->

                <!-- parte dove viene visualizzata la conversazione -->
                <!-- inzio modifica 2 -->
                <div class="contenitore-messaggio" id="sezione-chat" ref="sezione-chat">
                    <div class="chat-container" v-for='(oggetto, i) in contatti[indice].messages'>
                        <div :class="oggetto.status == 'sent' ? 'utente' : 'amico'">
                            <p> {{oggetto.message}}</p>
                            <div class="stato-messaggio">
                                <span>{{oggetto.time}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ci saranno tanti div quanti sono le conversazioni attive in questo 8 -->
                <!-- fine modifica 2 -->

                <!-- parte dove inseriamo il messaggio -->
                <div class="row insert-message">
                    <div class="row-sx">
                        <i class="far fa-grin"></i>
                    </div>
                    <div class="row-cn">
                        <input type="text" v-model="nuovoMessaggio" id="" placeholder="Scrivi un nuovo messaggio" @keyup.enter="userIndice(indice)">
                    </div>
                    <div class="row-dx">
                        <i class="fas fa-microphone-alt"></i>
                    </div>
                </div>

            </div>
            
        </div>

    </div>


    <script src="js/script.js"></script>
    
</body>
</html>